.pdf-download-button {
    padding: 0 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    font-family: monospace;
    font-weight: bold;
    background-color: #fd5a5a;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.pdf-download-button:hover {
    background-color: #c94040;
}

.pdf-download-button:active {
    background-color: #a33535;
}

.container-adjust {
    display: flex;
    justify-content: space-between;
}

.hide-scroll {
    overflow: hidden;
}

#loader-container:not(.visible) {
    display: none;
}

#loader-container.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000009c;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.loader-wrapper {
    width: 48px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 8px;
    background-color: #bdbdbd;
    animation: load 1.5s ease-in-out infinite;
}

.bar:nth-child(2) {
    animation-delay: .3s;
}

.bar:nth-child(3) {
    animation-delay: .6s;
}

@keyframes load {
    0% {
        height: 0px;
    }

    50% {
        height: 40px;
    }

    100% {
        height: 0px;
    }
}